<%- include("partials/header") %>

<div class="about-container container-fluid">


  <div class="about-body">

    <h3>What is this?</h3>
    <div class="about-slide">
      Affiliation Schema is about endorsing affiliation on Internet.<br />
      Here you can anonymously post your creative poems, flush out your feelings, write paroles or tell everyone about the latest TV Show you are fascinated by.<br />
      Affiliation Schema grants you anonymity. And you can freely go and express yourself.<br />
      And while reading posts of others, find out the perfect imperfection in others.<br />
    </div>

    <h3>Have in mind</h3>
    <div class="about-slide">
      If you only want to read, then go on.<br />
      But if you want to like, comment or present, then <a href="/sing-up" class="su-link">Sing up</a><br />
      It is necessary to <i>verify your E-Mail account</i>.<br/>
      We don't ask you for your name, use anonymous E-Mail account.<br />
      Only if you use anonymous E-Mail account, Schema wont know who you are.<br />
    </div>

    <h3>Perspective</h3>
    <div>
      Schema doesnt make sense if users dont have nothing in common, and there are many of them.<br />
      How about every user can create a group with group's own categories?<br />
      Then that group admin accepts new members to their group.<br/>
      But can use another account to post in it if he wants to perserve anonymity.<br  />
      Only group members can read and write in that group.<br />
      In that way we could implement "local anonymity"<br  />
      Right now, the whole Schema consists only of Group Zero.<br />
      <b>Group Zero</b><br />
      <ul class="gz-list">
        <li>
          Member somehow knows me.
        </li>
        <li>
          Member speaks english and croatian.
        </li>
        <li>
          Member probably lives in Split.
        </li>
        <li>
          Member is probably 18-30 years old.
        </li>
      </ul>
      </div>
    </div>
  </div>

<%- include("partials/footer") %>
