<%- include("partials/header") %>

<div class="container-fluid greeting-container">
  <div class="greeting-body">
  <p>Welcome to the Affiliation Schema page</p>
  <p class="count-info">Currenty there are <%= count %> posts on this page</p>
  </div>
</div>
<div class="button-box">
  <a class="btn btn-light cus-btn" href="/sing-up">Sing Up</a>
  <a class="btn btn-light cus-btn" href="/log-in">Log In</a>
</div>
<%- include("partials/footer") %>
