
.navbar{
  padding:15px 10px;
}
.navbar-toggler{
  font-size: 1.4rem;
}
.navbar-brand{
  font-size: 1.25rem;
}
.navbar-collapse, .dropdown-menu{
  font-size: 0.9rem;
}
.navbar-nav{
  align-items: flex-start;
  padding-top: 5px;
}
.notList{
  width: 300px;
  align-self: center;
  left: -250px;
}

/* GREETING */

.greeting-container{
  margin-top: 50px;
}

.button-box .btn {
  width: 100px;
}

/* About  */
